* {
  box-sizing: border-box;
}

.login-form {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 3rem;
}
.login-button {
  padding: 0 5.7rem;
  margin-top: 30px;
  background-color: blue;
  border-color: blue;
  color: white;
}

.register-form {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 3rem;
}
.register-button {
  padding: 0 5rem;
  margin-top: 30px;
  background-color: blue;
  border-color: blue;
  color: white;
}

a.active {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
}

.primary-nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-size: 20px;
  margin: 30px;
  border: 1px solid #7515d6;
  background-color: #7515d6;
  padding: 1rem;
  text-transform: uppercase;
}

.primary-nav a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}


.card-list {
  text-align: center;
  background-color: rgb(191, 173, 239);
  padding: 2rem;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.start-quizz {
  background-color: blue;
  border-radius: 1rem;
  color: #fff;
  border-color: blue;
  padding: 0.5rem 3rem;
  font-size: 20px;
}
